.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;
  background: rgba(
    $color: #fff,
    $alpha: 0.8
  ); //background-image: linear-gradient(to top left, #fff, #efefef);
  &:not(:last-child) {
    margin: 0.5rem;
  }
  @include respond(tab-port) {
    padding: 2rem;
  }
  &__text {
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 100;
  }
  &__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(
      to right bottom,
      $color-grey,
      $color-black
    );
    -webkit-background-clip: text;
    color: transparent;
    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
  &__header {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    color: $color-grey;
  }
  &__icon-header {
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-grey;
  }
  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}
