.navigation-drawer > .list:not(.list--dense) .list__tile {
  color: $color-white !important;
}
.theme--light .navigation-drawer,
.application .theme--light.navigation-drawer {
  background-color: $color-drawer !important;
}
.navigation-drawer > .list:not(.list--dense) .list__tile:hover {
  color: $color-black;
}
.navigation-drawer .list__tile:active {
  background-color: $color-primary !important;
}
