.section {
  padding: 2rem 0;
  margin: 5px 5px 25px 5px;
  &--first {
    padding-top: 2rem;
  }
  &--transparent {
    background-color: transparent;
  }
  &--about {
    background-color: #f7f7f7;
  }
  &--currency {
  }
}
